## Latex Tables 

**For figures, see the R script**

In [1]:
import pandas as pd

In [2]:
tab1 = pd.read_csv("../tabs/table_1.csv")
tab1.rename(columns={"Models": "Model", 
                     "Complete Test set": "Test Set", 
                     "3k weighted unique random": "Weighted Random (3k)",
                     "Bottom - 3k": "Bottom-3k"}, inplace = True)
tab1.drop("3k unique random", axis = 1, inplace = True)
tab1 = tab1.round(2)
tab1

  Model  Test Set  Weighted Random (3k)  Top-3k  Bottom-3k
0   RNN     65.27                 65.40    62.7      62.30
1  LSTM     75.91                 75.36    73.1      72.40
2   GRU     85.30                 84.13    82.4      81.96

In [3]:
tab1_style = tab1.style
tab1_style.format(subset=["Test Set", "Weighted Random (3k)", "Top-3k", "Bottom-3k"], precision = 1)\
          .format_index(escape="latex", axis=1)\
          .format_index(escape="latex", axis=0)\
          .hide(level=0, axis=0)
tab1_tex = tab1_style.to_latex(caption = "Accuracy of Different Models on the Test Set",
#                               clines="skip-last;data",
                               convert_css=True,
                               label = "model_comparison",
                               position_float="centering",
                               multicol_align="|c|",
                               hrules=True)

In [4]:
f = open("../tabs/model_comparison.tex", "w")
f.write(tab1_tex)
f.close()

In [5]:
tab2 = pd.read_csv("../tabs/stratified_by_state.csv")
tab2["state"] = tab2["state"].str.capitalize()
tab2['state'] = tab2['state'].astype('category').cat.rename_categories({'Andaman': 'Andaman and Nicobar',
                                                                        'Andhra': 'Andhra Pradesh',
                                                                        'Arunachal': 'Arunachal Pradesh',
                                                                        'Guj': 'Gujarat', 
                                                                        'Har': 'Haryana',
                                                                        'Jk':  'Jammu and Kashmir',
                                                                        'Jha': 'Jharkhand',
                                                                        'Kar': 'Karnataka',
                                                                        'Mp':  'Madhya Pradesh',
                                                                        'Odi': 'Odisha',
                                                                        'Tel': 'Telengana',
                                                                        'Up':  'Uttar Pradesh',
                                                                        'Utt': 'Uttaranchal',
                                                                       })
tab2

                  state   RNN  LSTM   GRU
0   Andaman and Nicobar  50.2  69.2  66.9
1        Andhra Pradesh  65.2  70.1  80.4
2     Arunachal Pradesh  60.0  81.7  81.2
3                 Assam  73.4  93.6  89.0
4                 Bihar  25.7  36.5  90.2
5            Chandigarh  18.6  23.3  88.4
6                 Dadra  69.7  76.9  79.7
7                 Daman  44.8  50.9  61.1
8                 Delhi  22.4  36.2  37.6
9                   Goa  34.5  48.1  53.5
10              Gujarat  88.1  91.6  94.7
11              Haryana  18.2  18.7  94.3
12            Jharkhand  32.2  45.3  79.1
13    Jammu and Kashmir  68.8  84.9  89.1
14            Karnataka  88.5  89.8  94.4
15               Kerala  26.5  52.4  50.7
16          Maharashtra  50.0  67.7  72.3
17              Manipur  31.0  49.8  54.3
18            Meghalaya  27.8  93.6  87.7
19              Mizoram  79.7  85.4  86.0
20       Madhya Pradesh  23.5  29.1  75.9
21             Nagaland  61.1  77.7  82.7
22               Odisha  76.0  91.0  89.4
23           Puducherry  36.2  37.5  54.3
24               Punjab  13.3  16.3  97.1
25            Rajasthan  14.3  15.6  81.9
26               Sikkim  71.3  96.3  90.2
27            Telengana  98.0  96.5  96.8
28              Tripura  88.3  99.2  97.0
29        Uttar Pradesh  12.6  18.0  86.6
30          Uttaranchal  16.6  21.2  80.1

In [6]:
tab2_style = tab2.style
tab2_style.format(subset=["RNN", "LSTM", "GRU"], precision=1)\
           .hide(level=0, axis=0)\
          .format_index(escape="latex", axis=1)\
          .format_index(escape="latex", axis=0)  
tab2_tex = tab2_style.to_latex(caption = "Accuracy of Different Models By State of Residence",
                               convert_css=True,
                               label = "accuracy_by_state",
                               position_float="centering",
                               multicol_align="|c|",
                               hrules=True)

In [7]:
f = open("../tabs/accuracy_by_state.tex", "w")
f.write(tab2_tex)
f.close()